<section class="global-form-style">
  <h1>login</h1>
  <aside>
    <%= form_tag '/login' do %>
    <%= render "shared/errors" %>

      <div class="label">
        <label><h3>Username</h3></label>
      </div>
      <div>
        <%= text_field_tag :username, nil, required: true, autofocus: true %>
      </div>
      <div class="label">
        <label><h3>Password</h3></label>
      </div>
      <div>
        <%= password_field_tag :password, nil, required: true %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    <% end %>
  </aside>
  <div class="facebook">
    <%= render "shared/facebook" %>
  </div>
</section>
