<section>
  <h3>add your recipe!</h3>
  <%= form_for @recipe, url: ingredient_recipes_path(@ingredient) do |f| %>
    <%= render "shared/errors", object: @recipe %>
    <%= f.label :title, 'recipe name:' %>
    <%= f.text_field :title, required: true, autofocus: true %>
    <label>tag ingredients:</label>
    <div class="recipe-ingredients">
      <% @ingredients.each do |ing| %>
      <span><input type="checkbox" name="ingredients[<%= ing.name %>]" id="<%= ing.name %>" <% if @ingredient == ing %> checked <% end %> > <label for="<%= ing.name %>"><%= ing.name %></label></span>
      <% end %>
    </div>
    <%= f.label :body, 'directions:' %>
    <%= f.text_field :body, required: true %>
    <%= f.submit 'submit recipe' %>
  <% end %>
</section>
