<section id="recipe-show">
  <article class="left-content">
    <h1><%= @recipe.title %></h1>
    <h3>
      <span>Contributed by: </span>
      <%= link_to @recipe.user.username, user_path(@recipe.user) %>
    </h3>

    <h2>Directions</h2>
    <p><%= raw @recipe.body %></p>
  </article>

  <article class="right-content">
    <h2>Seasonal Ingredients</h2>
    <p>
      <% @recipe.ingredients.each do |ingredient| %>
        <span class="ingredient-name">
          <%= link_to ingredient.name, ingredient_path(ingredient) %>
        </span>
        <% if ingredient != @recipe.ingredients.last %>
          <%= ' | ' %>
        <% end %>
      <% end %>
    </p>

    <aside>
      <%= image_tag @recipe.url, alt: 'recipe image', class: "round-image" %>
    </aside>
  </article>
</section>
