<section id="users-new">
  <%= render 'shared/errors' %>

  <%= form_for @user, html: { id: 'new-user-form', class: 'form' } do |f| %>
    <%= f.text_field :username, required: true, placeholder: 'Name' %>
    <%= f.email_field :email, required: true, placeholder: 'Email' %>
    <%= f.password_field :password, required: true, placeholder: 'Password' %>
    <%= f.text_area :bio, placeholder: 'Bio' %>
    <%= f.submit 'Register' %>
  <% end %>
</section>
