<section id="user-profile">
  <article class="top">
    <aside class="left-content">
      <%= image_tag @user.image.url(:cropped), class: "round-image", size: "300x300", alt: "personal-bio" %>
    </aside>

    <aside class="right-content">
      <h3>Recently Posted Locations</h3>
      <ul>
        <% @user.locations[0..5].each do |location| %>
          <li>
            <%= link_to location.title, "http://#{location.url}", target: '_blank' %>
            <% if @user.id == session[:user_id] %>
              <%= link_to 'remove', location_path(location), :method => :delete, :class => "btn-delete", data: {confirm: "Are you sure?"} %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </aside>
  </article>

  <article class="bottom">
    <aside class="left-content">
      <h2><%= @user.username %></h2>
      <p>
        <%= @user.bio %>
      </p>
    </aside>
    <aside class="right-content">
      <h3>Recently Posted Recipes</h3>
      <ul>
        <% @user.recipes[0..5].each do |recipe| %>
          <li><%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %>
            <% if @user.id == session[:user_id] %>
              <%= link_to 'x remove', recipe_path(recipe), :method => :delete, :class => "btn-delete", data: {confirm: "Are you sure?"} %>
            <% end %></li>
        <% end %>
      </ul>
    </aside>
  </article>
</section>
