<header>
  <h1><a href="/">Seattle <span>Sautee</span></a></h1>
  <nav class="seasons">
    <ul>
      <li><a href="/seasons/Spring">Spring</a></li>
      <li><a href="/seasons/Summer">Summer</a></li>
      <li><a href="/seasons/Fall">Fall</a></li>
      <li><a href="/seasons/Winter">Winter</a></li>
    </ul>
  </nav>
  <nav class="login-nav">
    <ul>
      <% unless session[:user_id] %>
        <li><%= link_to "login", login_path %></li>
        <li><%= link_to "register", new_user_path %></li>
      <% else %>
        <li><%= button_to "logout", { action: 'destroy', controller: 'sessions' }, method: :delete %></li>

        <% if current_page?(user_path(User.find(session[:user_id]))) %>
          <li>Hello <%= User.find(session[:user_id]).username %></li>
        <% else %>
          <li><%= link_to "My Profile", user_path(User.find(session[:user_id])) %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</header>
