<header>
  <nav class="logo-nav">
    <ul>
      <li><a href="/">
        <% if request.path == "/" %>
          Select a Season
        <% else %>
          Saute' Seattle
        <% end %>
        </a></li>
    </ul>
  </nav>

  <nav class="seasons">
    <ul>
      <li><a href="/seasons/Spring">Spring</a></li>
      <li><a href="/seasons/Summer">Summer</a></li>
      <li><a href="/seasons/Fall">Fall</a></li>
      <li><a href="/seasons/Winter">Winter</a></li>
    </ul>
  </nav>
  <nav class="login-nav">
    <ul>
      <% unless session[:user_id] %>
        <li class="spot1-login"><%= link_to "login", login_path %> | </li> <li class="spot2"><%= link_to "register", new_user_path %></li>
      <% else %>
        <% if current_page?(user_path(User.find(session[:user_id]))) %>
          <li class="spot1">Hello <%= User.find(session[:user_id]).username %> | </li> <li class="spot2"><%= button_to "logout", { action: 'destroy', controller: 'sessions' }, method: :delete, id: 'logout' %></li>
        <% else %>
           <li class="spot1"><%= link_to "My Profile", user_path(User.find(session[:user_id])) %> | </li> <li class="spot2"><%= button_to "logout", { action: 'destroy', controller: 'sessions' }, method: :delete, id: 'logout' %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</header>
  <% if @season.nil? && @home %>
    <div class=""></div>
  <% elsif @season.nil? %>
    <div class="season-bar"></div>
  <% else %>
    <div class="season-bar <%= @season.name %>"></div>
  <% end %>
