<section id="ingredient-show">
  <article class="top">
    <aside class="left-content">
      <img src="http://via.placeholder.com/250x250" alt="">
    </aside>

    <aside class="right-content locations">
      <h3>Locations</h3>
      <ul>
        <% @locations.each do |location| %>
          <li><%= location.title %></li>
        <% end %>
      </ul>
      <span class="see-more">
        <%= link_to "More places to go...", "#" %>
      </span>
    </aside>
  </article>

  <article class="bottom">
    <aside class="left-content">
      <aside class="produce-info">
        <h1><%= @ingredient.name %></h1>
        <h4>Best Seasons -> <%= @seasons_string %></h4>
        <p><%= @description %></p>
      </aside>
      <% if session[:user_id] %>
        <aside class="contribute">
          <h2>Get Involved...</h2>
          <p>
            Feel free to share a recipe or a
            location to buy <%= @ingredient.name.pluralize(2).downcase %>.
          </p>
          <span>
            <%= link_to "Add a Location", location_new_ingredient_post_path(@ingredient) %>
          </span>
          <span>
            <%= link_to "Share Recipe", "#" %>
          </span>
        </aside>
      <% end %>
    </aside>

    <aside class="right-content recipes">
      <h3>Recipes</h3>
      <ul>
        <% @recipes.each do |recipe| %>
          <li>
            <%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %>
          </li>
        <% end %>
      </ul>
      <span class="see-more">
        <%= link_to "More recipes...", ingredient_posts_path(@ingredient) %>
      </span>
    </aside>
  </article>
</section>
