<section id="ingredient-show">
  <article class="top">
    <aside class="left-content">
      <img src="http://via.placeholder.com/250x200" alt="">
    </aside>

    <aside class="right-content produce-info">
      <h2><%= @ingredient.name %></h2>
      <h6><%= @seasons_string %></h6>
      <p><%= @ingredient.description %></p>
    </aside>

  </article>

  <article class="bottom">
    <aside class="left-content produce-info recipes">
      <h3>Recipes</h3>
      <ul>
        <% @ingredient.recipes.each do |recipe| %>
          <li>
            <h5><%= recipe.title %></h5>
            <p><%= recipe.body[0..20] %>...</p>
          </li>
        <% end %>
      </ul>
    </aside>

    <aside class="right-content locations">
      <h3>Where You Find It:</h3>
      <ul>
        <% @ingredient.locations.each do |location| %>
          <li><%= location.title %></li>
        <% end %>
      </ul>
    </aside>
  </article>
</section>
