<section id="ingredient-show">
  <article class="top">
    <aside class="left-content">
      <%= image_tag @ingredient.image, size: "300x300", class: "round-image", alt: "ingredient-image" %>
    </aside>

    <aside class="right-content locations">
      <h3>Locations</h3>

      <ul>
        <% @locations.each do |location| %>
          <li><%= link_to location.title, "http://#{location.url}", target: '_blank' %></li>
        <% end %>
      </ul>
    <% if @ingredient.locations.length > 5 %>
      <span class="see-more">
        <%= link_to "More places to go...", ingredient_locations_path(@ingredient) %>
      </span>
    <% end %>
    </aside>
  </article>

  <article class="bottom">
    <aside class="left-content">
      <aside class="produce-info">
        <h1><%= @ingredient.name %></h1>
        <h4>
          In Season During ->
          <% @seasons_names.each do |name| %>
            <span class="season-name"><%= name %></span>
          <% end %>
        </h4>
        <p><%= @description %></p>
      </aside>

      <% if session[:user_id] %>
        <aside class="contribute">
          <h2>Get Involved...</h2>

          <p>
            Feel free to share a recipe or a
            location to buy <%= @ingredient.name.pluralize(2).downcase %>.
          </p>

          <span>
            <%= link_to "Add a Location", new_ingredient_location_path(@ingredient) %>
          </span>

          <span>
            <%= link_to "Share Recipe", new_ingredient_recipe_path(@ingredient) %>
          </span>
        </aside>
      <% end %>
    </aside>

    <aside class="right-content recipes">
      <h3>Recipes</h3>

      <ul>
        <% @recipes.each do |recipe| %>
          <li>
            <%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %>
          </li>
        <% end %>
      </ul>

      <% if @ingredient.recipes.length > 5 %>
        <span class="see-more">
          <%= link_to "More recipes...", ingredient_recipes_path(@ingredient) %>
        </span>
      <% end %>
    </aside>
  </article>
</section>
