<%= render 'shared/errors' %>

<section id="location-new">
  <article id="container">
    <h1>Share Location</h1>
    <%= form_for :post, url: ingredient_posts_path(@ingredient) do |f| %>
      <%= f.hidden_field :post_type, value: 'location' %>
      <div>
        <label>Name</label>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
      <div>
        <label>URL</label>
      </div>
      <div>
        <%= f.text_field :body %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </article>
</section>
