<section class="global-form-style">
  <h1>Share Location</h1>
  <aside>
    <%= form_for :post, url: ingredient_locations_path(@ingredient) do |f| %>
      <%= render 'shared/errors' %>

      <%= f.hidden_field :post_type, value: 'location' %>
      <div class="label">
        <label><h3>Name</h3></label>
      </div>
      <div>
        <%= f.text_field :title, required: true, autofocus: true %>
      </div>
      <div class="label">
        <label><h3>Address</h3></label>
      </div>
      <div>
        <%= f.text_field :body, required: true %>
      </div>
      <div class="label">
        <label><h3>URL</h3></label>
      </div>
      <div>
        <%= f.text_field :url %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </aside>
</section>
