<%= render 'shared/errors' %>

<section id="location-new">
  <article class="left-content">
    <%= form_for :post, url: ingredient_post_locations_path(@ingredient) do |f| %>
      <%= f.hidden_field :post_type, value: 'location' %>
      <div>
        <label>Location Name:</label>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
      <div>
        <label>Address:</label>
      </div>
      <div>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </article>
</section>
