<!DOCTYPE html>
<html>
  <head>
    <title>Sautee Seattle | Eating Seasonal in Seattle WA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <!-- <body class="<%= "welcome" if controller_name == "seasons" %>">
      <%= render "shared/login_bar" %> -->
  <body>

    <main>
      <div class="wrapper">
        <%= render "shared/login_bar" %>
        <%= render "shared/home-page" %>
        <%= yield %>
        <%= render "shared/footer_bar" %>
      </div>
    </main>
  </body>
</html>
